.index{
    width: 100%;
    height: 100vh;
    background: linear-gradient(175deg,rgba(105,194,254,0.8),rgba(107,234,254) 3%,  #F8F9FF 20%),
}
.text{
    margin: 20rpx 0 5rpx 30rpx;
    .time{
        width: 223rpx;
        height: 50rpx;
        font-size: 26rpx;
        color: #676767;
        line-height: 50rpx;
        margin: 0 0 30rpx 0;
        padding: 0 0 0 27rpx;
        background-color: #ffffff;
        border-radius: 15rpx;
        box-shadow: 0rpx 0rpx 38rpx 2rpx rgba(10,110,176,0.1039);
    }
    .text-sign{
        display: block;
        color: #333333;
        font-weight: 500;
    }
    .text-send{
        font-size: 24rpx;
        color: #999999;
    }
}
