.card{
    margin: 20rpx 0;
    .img{
        width: 30rpx;
        height: 30rpx;
        margin-left: 15rpx;
    }
    .at-card__header-thumb-info{
        border-radius: 50%;
    }
    .at-card__content-info{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 6;
    }
}


.item-thumb__info{
    border-radius: 50%;
}