.my-card{
    // background-color: #fff;
    // padding: 3% 0;
    .card-item{
        border: none;
        border-bottom: 1PX #d6e4ef solid;
        background-color: rgba(255,255,255,0);
        .at-card__header{
            display: none;
        }
        .at-row--wrap{
            position: relative;
        }
        .card-name{
            position: absolute;
        }
        .card-num{
            position: absolute;
            // bottom: 0;
            line-height: 160rpx;
            color: #999;
        }
        .card-content{
            position: absolute;
            // width: 100%;
            display:-webkit-box;
            -webkit-line-clamp:1;
            overflow:hidden;
            text-overflow:ellipsis;
            -webkit-box-orient:vertical;
            word-break:break-all;
            bottom: 0;
            color: #999;
        }
        
        .card-time{
            position: absolute;
            line-height: 160rpx;
            color: #999;
            font-size: 24rpx;
        }
        .card-img{
            display: inline-block;
            width: 150rpx;
            height: 150rpx;
            .img{
                display: inline-block;
                width: 150rpx;
                height: 150rpx;
                border-radius: 10rpx;
            }
        }
        .img1{
            margin-top:  15rpx;
            margin-left:  15rpx;
        }
        .card_address{
            position: absolute;
            display: inline-block;
            z-index: 10;
            width: 100rpx;
            height: 80rpx;
            line-height:80rpx;
            text-align: center;
            bottom: 0;
            right: 0;
            .icon-message{
                width: 50%;
                position: absolute;
                right: 80%;
            }
            .icon-del{
                width: 50%;
                position: absolute;
                right: 10%;
            }
        }
    }
}