
.container{
    width: 90%;
    margin: 0 auto;
    .tips{
        padding: 2%;
        background: #f5f5f5;
        border-radius: 15rpx;
        .tip{
            height: 42rpx;
            font-size: 23rpx;
            color: #989898;
            line-height: 42rpx;
            .graph{
                width: 12rpx;
                height: 12rpx;
                display: inline-block;
                margin: 1rpx 12rpx;
                border-radius: 50%;
            }
        }
    }
    .calendar-mark{
        width: 12rpx;
        height: 12rpx;
        left: 43%;
        top: 60%;
    }
    .date{
        position: relative;
        width: 150rpx;
        height: 52rpx;
        line-height: 52rpx;
        font-size: 24rpx;
        color: #fff;
        background-color: #1AA5FF;
        padding: 0 3%;
        border: none;
        border-radius: 8rpx;
        .arrow-down{
            position: absolute;
            right: 12rpx;
            bottom: 2rpx;
        }
    }
    .total{
        height: 180rpx;
        .count{
            width: 30vw;
            float: left;
            text-align: center;
            margin-top: 45rpx;
            font-size: 28rpx;
            font-weight: 500;
            color: #676767;
            .num{
                font-size:46rpx;
                font-weight: 700;
                color: #343434;
                margin-bottom: 15rpx;
            }
        }        
    }
    .tips-list{
        font-size: 27rpx;
        font-weight: 500;
        color: #3d3d3d;
        .graph{
            width: 20rpx;
            height: 20rpx;
            display: inline-block;
            margin: 1rpx 12rpx;
            border-radius: 50%;
        }
        .time{
            margin: 8rpx 42rpx;
            height: 42rpx;
            font-size: 28rpx;
            color: #999;
            line-height: 42rpx;
        }
        .track{
            margin: 26rpx 0 0 42rpx;
            margin-left: 42rpx;
            .at-timeline-item__tail{
                width: 2rpx;
                left: 134rpx;
                border: none;
                background: #e2ecf4;
            }
            .at-timeline-item__dot{
                left:124rpx;
                top: 14rpx;                
            }
            .title{
                position: absolute;
                left: 0;
                font-size: 36rpx;
                font-weight: 500;
                color: #333;
            }
            .content{
                height: 44rpx;
                line-height: 44rpx;
                font-size: 24rpx;
                font-weight: 500;
                color: #999;
            }
            .at-timeline-item__content--sub{
                // position: absolute;
                margin-left: 146rpx;
            }
        }
    }
}