.index{
    width: 92%;
    height: 100vh;
    padding: 10rpx 32rpx;
    background: linear-gradient(170deg,#0194FF, #02E2FF 13%,  #F8F9FF 30%),
}
.at-nav-bar{
    background-color: rgba(255,255,255,0,);
    height: 142rpx;
    position: static;
}
// 新消息提示样式
.new{
    color: #f00;
    width: 100%;
    text-align: center;
    font-size: 24rpx;
    &-tag{
        color: #f00;
        position: relative;
        overflow: visible;
    }
    &-num{
        position: absolute;
        top: 12rpx;
        right: 16rpx;
        width: 34rpx;
        height: 34rpx;
        font-size: 22rpx;
        border-radius: 50%;
        border: 1rpx solid #f00;
        line-height: 1.6;
    }
}
// banner样式
.banner{
    height: 320rpx;
    background-color: #fff;
    border-radius: 50rpx;
    margin: 30rpx 0;
}
// 修改组件tab样式
.at-tab-bar{
    background-color: rgba(255,255,255,0,);
    border-radius: 26rpx;
    position: static;
}
.at-tab-bar__inner-img{
    width: 85rpx;
}
// 推荐文章样式
.more{
    position: relative;
    border-radius: 32rpx;
    margin-top: 30rpx;
    background-color: #fff;
    box-shadow: #d3d8e2 0px 0px 30px 5px;
    &-list{
        border-radius: 32rpx;
        border: none;
        .item-content__info-title{
            font-weight: 600;
        }
        .item-extra__info{
            font-size: 26rpx;
        }
    }
    &-right{
        position: absolute;
        width: 64rpx;
        height: 16rpx;
        top: 62rpx;
        left: 22rpx;
    }
    &-article{
        position: absolute;
    }
}
