  //全选按钮
  .all-check{
    position: absolute;
    top: 280rpx;
    right: 45rpx;
    .all-check-input{
      width: 36rpx;
      height: 36rpx;
      border-radius: 50%;
      display: inline-block;
      margin-right: 12rpx;
    }
    .at-icon .at-icon-check{
      margin: 0 0 5rpx 10rpx;
    }
    .all-check-button{
      display: inline-block;
    }
  }
.scroll {
    height: 370rpx;
}

.form-width {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 32rpx 30rpx;
}
.sign {
  width: 20%;
  float: left;
  line-height: 1.2;
  padding: 0 10rpx;
  box-sizing: border-box;
  font-size: 23rpx;
  &-content{
    position: relative;
    margin-bottom: 48rpx;
    
  }
  &-label{
    position: absolute;
    width: 32rpx;
    height: 32rpx;
    z-index: 100;
    left: 62%;
  }
  &-img{
    position: relative;
    display: flex;
    display: block;
    margin: 0 auto;
    width: 86rpx;
    height: 86rpx;
  }
  &-text{
    position: relative;
    margin: 7rpx auto;
    text-align: center;
    width: 115rpx;
    height: 73rpx;
    line-height: 37rpx;
    color: #333333;
  }
  &-text.text2{
    text-align: start;
  }
  &.check-button{
    margin-bottom: 32rpx;
  }
}

.parent {
  position: relative;
  height: 660rpx;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  .text {
    margin: 30rpx 0;
  }
}