
.index{
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(175deg,rgba(105,194,254,0.8),rgba(107,234,254) 3%,  #F8F9FF 20%),
}

.wrap {
    .content {
      padding-left: 31rpx;
      margin-top: 11rpx;
      margin-bottom: 51rpx;
  
      .vegetable {
        font-size: 31rpx;
        font-weight: 500;
        color: #343434;
      }
  
      .kind {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20rpx;
        font-size: 27rpx;
        font-weight: 400;
        color: #676767;
  
        .kind-box {
          margin-top: 17rpx;
          margin-right: 30rpx;
        }
      }
    }
  
  
    .at-tabs-pane {
      background-color: none;
    }
  
    .at-tabs__item {
      font-size: 31rpx;
  
      color: #666;
      font-size: 29rpx;
    }
  
    .at-tabs__item--active {
      font-weight: 500;
      color: #6190E8 !important;
  
      font-size: 31rpx;
    }
    .login{
        margin: 50% 15%;
    }
  
    .footer {
      width: 100%;
      height: 115rpx;
      background: #FFFFFF;
      box-shadow: 0rpx 0rpx 23rpx 2rpx rgba(10, 110, 176, 0.3018);
      position: fixed;
      display: flex;
      // align-items: center;
      bottom: 0;
  
      & button {
        width: 211rpx;
        height: 84rpx;
        margin-top: 10rpx;
        font-size: 31rpx;
        color: #FFFFFF;
        font-weight: 500;
        background: linear-gradient(right, #26E2FF, #1BA5FF);
  
       
      }
     .btn{
        background: #F6F5F5 !important;
        color: #808080;
      }
      .moment {
        font-size: 23rpx;
      }
    }
  }
  