
.main{
    position: relative;
}
.add{
    position: fixed;
    z-index: 1;
    top: 85%;
    right: 5%;
    .add-icon{
        display: block;
        width: 50%;
        margin: auto;
    }
    .add-text{
        font-size: 24rpx;
    }
}
.content{
    margin: 20rpx 0;
    .date{
        float: left;
        width: 28%;
        margin: 0 20rpx;
        padding: 0 3%;
        border: 1rpx solid #000;
        border-radius: 10rpx;
    }
    .selector{
        display: inline-block;
        width: 25%;
        padding: 0 3%;
        border: 1rpx solid #000;
        border-radius: 10rpx;
    }
}

.work-list{
    position: relative;
    margin: 20rpx 0;
    .at-card{
        // position: absolute;
        top: 0;
        left: 0;
        border-radius: 31rpx;
        margin: 0;
    }
    .at-card__content{
        width: 70%;
    }
    .at-card__content-info{
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient:vertical;
        -webkit-line-clamp: 2;
    }
    .test-time{
        margin-bottom: 20rpx;
    }
    .at-card__header-thumb{
        height: 58rpx;
    }
    .at-card__header-thumb-info{
        width: 58rpx;
        height: 58rpx;
    }
    .button-publish{
        border: 1PX #d6e4ef solid;
        border-radius:0 0 12rpx 12rpx;
        margin: -1% 24rpx 0 24rpx;
        padding: 1%;
        background-color: #fff;
        color: #1f98f0;
        font-size: 26rpx;
        text-align: center;
    }
    .new-msg{
        position: absolute;
        width: 20rpx;
        height: 20rpx;
        top: 18rpx;
        left: 69rpx;
        border-radius: 50%;
        background-color: #FF2A15;
    }
    .tip{
        position: absolute;
        right: 3%;
        bottom: 2vh;
        text-align: center;
        font-size: 26rpx;
        .publish{
            color: #f00;
        }
        .published{
            color: #1f98f0;
        }
    }
}
.at-fab{
    background: linear-gradient(135deg, #1BA5FF,#26E2FF);;
}