.content{
    margin: 20rpx 0;
    .date{
        background-color: #fff;
        float: left;
        width: 28%;
        margin: 0 20rpx;
        padding: 0 3%;
        border: 1rpx solid #000;
        border-radius: 10rpx;
    }
    .selector{
        background-color: #fff;
        display: inline-block;
        width: 25%;
        padding: 0 3%;
        border: 1rpx solid #000;
        border-radius: 10rpx;
    }
}
