
.index{
    width: 100%;
    height: 100%;
}
.components-page{
    width:94%;
    margin: 10rpx auto;
    
    .editor-box{
        position: relative;
        width:100%;
        min-height: 47vh;
        max-height: 10000rpx;
        background:#fff;
        overflow-y: scroll;
        .editor{
            position: absolute;
            height: auto;
            margin-left: 10rpx;
        }
    }
    .add-image{
        width: 100rpx;
        text-align: center;
        font-size: 24rpx;
        color: #9a9a9a;
    }
    .choose{
        width: 100%;
        height: 60rpx;
        line-height: 60rpx;
        font-size: 28rpx;
        font-weight: 500;
        color: #333;
    }
   
}
.person{
    .at-modal__container{
        width: auto;
        border-radius: 45rpx;
        top: 65%;
        color: #000;
        text-align: left;
    }
    .person-modal{
        width: 100vw;
        height: 60vh;
    }
}

