.container{
    width: 90%;
    margin: 0 auto;
    .tips{
        padding: 2%;
        background: #f5f5f5;
        border-radius: 15rpx;
        .tip{
            height: 42rpx;
            font-size: 23rpx;
            color: #989898;
            line-height: 42rpx;
            .graph{
                width: 12rpx;
                height: 12rpx;
                display: inline-block;
                margin: 1rpx 12rpx;
                border-radius: 50%;
            }
        }
    }
    .calendar-mark{
        width: 12rpx;
        height: 12rpx;
        left: 43%;
        top: 60%;
    }
    .bottom{
        color: #696969;
        font-size: 23rpx;
        .time{
            position: relative;
            height: 73rpx;
            font-size: 29rpx;
            background: #f5f5f5;
            border-radius: 8rpx;
            color: #333333;
            line-height: 73rpx;
            margin-top: 15rpx;
            padding:0 23rpx;
            .result{
                font-size: 19rpx;
                margin: 0 23rpx;     
                border-radius: 8rpx;           
            }
            .handle{
                position: absolute;
                display: inline-block;
                right: 23rpx;
                font-size: 29rpx;
                font-weight: 500;
                color: #ff1a1a;

            }
        }
    }
    .at-modal__container{
        width: 462rpx;
        height: 338rpx;
        background: #ffffff;
        border-radius: 19rpx;
    }
    .at-modal__header{
        height: 42rpx;
        line-height: 42rpx;
        font-size: 23rpx;
        color: #666;
        text-align: left;
    }
    .at-modal__content{
        min-height: 110rpx;
        font-size: 29rpx;
        font-weight: 500;
        color: #333;
        padding-bottom: 0;
        .request{
            height: 42rpx;
            line-height: 42rpx;
            margin-bottom: 30rpx;
        }
    }
    .comfirm{
        position: absolute;
        right: 0;
    }
    .at-modal__footer .at-modal__action > button:last-child{
        font-size: 23rpx;
        color: #1AA5FF;
    }
}