.index {
  width: 100%;
  height: 100vh;
  .history {
    width: 93%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left {
      width: 48%;
    }
    .right {
      width: 48%;
    }
    .growth {
      position: relative;
      width: 100%;
      height: 153rpx;
      margin: 0 0 30rpx 0;
      .growth-name {
        position: absolute;
        width: 138rpx;
        height: 42rpx;
        line-height: 42rpx;
        font-size: 35rpx;
        font-weight: 700;
        color: #ffffff;
        left: 24rpx;
        top: 31rpx;
      }
    }
  }
}
