
// $chatContentbgc: #c2dcff;
// $sendBtnbgc: #4f7df5;
view,
button,
text,
input,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.index {
  height: 100vh;
  overflow: hidden;
  .msg__wrapper {
    height: 100%;
    background: rgba(239, 247, 260, 0.5);
    position: relative;
    .scroll__view {
      height: calc(100% - 350rpx);
    }
  }
}

.chat {
  border-radius: 4px;
  &-content {
    padding: 0 14px;
    height: 100%;
    overflow: hidden;
    &-left {
      display: flex;
      margin-bottom: 20px;
      // .text {
      //   border-radius: 23rpx;
      //   background: #ebebeb;
      //   color: #4c4c4c;
      // }
    }
    &-right {
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 20px;
      .text-con-text{
        background-color: #1BA5FF;
         color: #fff
      }
    }
    .img {
      width: 77rpx;
      height: 77rpx;
      border-radius: 50%;
    }
    .info {
      margin: 0 12rpx;
      text-align: left;
      .name {
        font-size: 24rpx;
        color: #999999;
      }

      .text-con {
        position: relative;
        margin-top: 8rpx;
        border-radius: 23rpx;
        &-text {
          position: relative;
          max-width: 71vw;
          font-size: 28rpx;
          letter-spacing: 1rpx;
          line-height: 1.5;
          font-weight: 500;
          padding: 20rpx;
          object-fit: contain;
        }
        &-img{

        }
        &-file{
          width: 500rpx;
          height: 160rpx;
          background: #f4f4f4;
          padding: 20rpx;
          .suffix {
            float: right;
            width: 96rpx;
            height: 96rpx;
          }
          .name {
            font-size: 28rpx;
            color: #333;
            font-weight: 500;
          }
          .size {
            position: absolute;
            bottom: 20rpx;
            font-size: 24rpx;
            color: #999;
          }
        }
      }
    }
  }
  &-bottom {
    position: relative;
    width: 100%;
    bottom: 0;
    background: #f4f5f7;
  
    .send-msg {
      display: flex;
      padding: 16rpx 30rpx 0 30rpx;
      width: 100%;
      min-height: 114rpx;
      background: #ededed;
    }
  
    .chat-text-area {
      .text-area {
        width: 537rpx;
        min-height: 75rpx;
        max-height: 500rpx;
        background: #ffffff;
        border-radius: 8rpx;
        font-size: 32rpx;
        color: #333333;
        line-height: 43rpx;
        padding: 0rpx 8rpx;
      }
    }
  }
}

.action {
  width: 90rpx;
  height: 90rpx;
  .action-img {
    width: 48rpx;
    height: 48rpx;
  }
}
