 .tree-select {
  width: 95%;
  margin: 0 auto;
    .tselect {
        &-header {
            margin-top: 0.75em;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-content {
            padding-left: 20rpx;
            display: none;
            &__item {
                margin-top: 0.75em;
            }
            &.is-open {
                display: block;
                text-align: left;
            }
        }
    }
}
