.at-modal__content{
        height: 40rpx;
        text-align: center;
        min-height: 0;
}
.modal .person{
        .at-modal__content{
                height: 400rpx;
                text-align: center;
                min-height: 0;
        }
}

