.img-picker{
    background-color: #fff;
}
.photos{
    .at-modal__container{
        width: auto;
        border-radius: 45rpx;
        top: 65%;
        color: #000;
        text-align: left;
    }
    .photos-modal{
        width: 100vw;
        height: 60vh;
    }
}
