page{
	background-color: #fff;
}
.index{
	padding: 2%;
}
.safety{
    margin: 3% 0;
}
.construction{
    margin: 3% 0;
}
.share{
    margin: 3% 0;
}
.formItem{
    width: 13%;
    display: inline-block;
    padding:  0 3%;
	margin: 2% 3%;
    text-align: center;
	font-size: 23rpx;
}
.img{
    width: 100%;
    height: 80rpx;
    margin: 10rpx 0;
}
