.index{
    width: 100%;
    height: 100vh;
    background: linear-gradient(175deg,rgba(105,194,254,0.8),rgba(107,234,254) 3%,  #F8F9FF 20%),
}
.search{
    width: 90%;
    margin: 0 5%;
    background-color: #fff;
    border-radius: 16rpx;
    border: 2rpx solid #1BA6FF;
}
.at-search-bar{
    height: 65rpx;
    background-color: #fff;
    border-radius: 16rpx;
    padding: 0 18rpx 0 0;
    background: rgba(255,255,255,0.6);
}
.at-search-bar__action{
    border-radius: 8rpx;
}
.card{
    padding: 3% 0;
    .card-item{
        position: relative;
        border: none;
        border-bottom: 1PX #d6e4ef solid;
        .at-card__header{
            display: none;
        }
        .card-content{
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-box-orient:vertical;
            -webkit-line-clamp: 2;
        }
        .card-time{
            position: absolute;
            bottom: 34rpx;
            color: #999;
            font-size: 24rpx;
        }
        .card-img{
            display: inline-block;
            padding: 0 30%;
            .img{
                display: inline-block;
                width: 150rpx;
                height: 150rpx;
                border-radius: 10rpx;
            }
        }
    }
}