.top{
    width: 100%;
    height:560rpx;
    margin-top: 56rpx;
    align-items: center;
    // padding: 1% 2%;
    .img{
        width: 100%;
        height: 560rpx;
        border-radius: 16rpx;
    }
    .text{
        position: absolute;
        top: 40vh;
        left: 32rpx;
        color: #fff;
    }
}
.list{
    position: relative;
    width: 98%;
    padding: 1%;
    .time{
        position: relative;
        font-size: 32rpx;
        color: #343434;
        margin: 48rpx 32rpx;
    }
    .at-grid__flex .content-inner__img {
        width: 220rpx;
        height: 220rpx;
        border-radius: 16rpx;
    }
    .at-grid__flex-item::after{
        border: none !important;
    }
}
