.top{
    width: 40%;
    margin: 4% auto 1% auto;
}
.at-grid__flex .at-grid-item {
    margin-top: 3%;
}
.at-grid__flex .content-inner__text {
    margin-top: 5rpx;
    font-size: 28rpx;
}
.at-grid__flex .content-inner__img {
    width: 200rpx;
    height: 200rpx;
}
.photo{
    margin: 1% 0;
}