.button{
    font-size: 23rpx;
    &.at-button--primary{
        background: linear-gradient(135deg, #1BA5FF,#26E2FF);
        color: #fff;
        border: none;
    }
    &.at-button--secondary{
        border-color: #B2B2B2;
        color: #B2B2B2;
    }
    &.send-button{
        width: 100%;
        height: 88rpx;
        line-height: 88rpx;
        font-size: 32rpx;
        position: fixed;
        bottom: 20rpx;
        left: 3%;
    }
    &.login{
        height: 88rpx;
        line-height: 88rpx;
        font-size: 28rpx;
    }
    &.signin{
        width: 100%;
        height: 88rpx;
        line-height: 88rpx;
        font-size: 28rpx;
        font-weight: 500;
        background: #f6f6f6;
        color: #999;
        margin-top: 32rpx;
    }
}
